body{
    font-family: 'Poppins', sans-serif;
}
/*Header Fim*/
.title--top{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title--logo{
    font-family: 'Poppins', sans-serif;
}

.title--logo--black{
    color: #212529;
    font-weight: 700;
    font-size: 21.6949px;
    line-height: 33px;
    margin-left: 50px;
}

.title--logo--red{
    font-weight: 700;
    font-size: 16.2712px;
    line-height: 24px;
    color: #FF2253;
}
.title--search{
    width: 342px;
    padding: 15px 18px 15px 16px;
    border: 1.5px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;
    background: #E9ECEF;
    align-self: center;
}

.title--search:focus{
    background-color: #F8F9FA;
    border-color: #212529;;
}
.title-input-login{
    display: flex;
    margin-right: 20px;
    column-gap: 10px;
}


.user{
    background-color: #E9ECEF;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    
}
.user::before{
        content: "\f007";
        font-family: 'Font Awesome 5 Free';
        line-height: 14px;
        font: normal normal normal 30px/1 FontAwesome !important;
        color: #757677;
}
nav{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 25px 0px 25px 0px;
}
nav ul{
    list-style: none;
}

.nav--top {
  display: flex;
  overflow-x: scroll;

}

.nav--top::-webkit-scrollbar {
  border: 1px solid #FFFFFF;
  height: 3px;
}

.nav--top::-webkit-scrollbar-thumb {
  background: #FF2253;   
  border: none;
  border-radius: 15px;
}

.nav--button{
    background: #FFF7F4;
    font-family: 'Inter', sans-serif;
    padding: 15px 20px;
    border: 1.5px solid #FFF7F4;
    box-sizing: border-box;
    border-radius: 30px;
    color: #212529;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-right: 22px;
}
.nav--top:last-child{
    margin-right: 15px;
}

.nav--button:hover{
    background: #FF2253;
    border-color: #FF2253;
    color: #F8F9FA;
}
#todos{
    height: 79px;
    margin-left: 20px;
}
.btnAddNew{
    color: #FFF7F4;
    font-size: 2.7vh;
    font-weight: bold;
    background-color: #FF2253;

    width: 90%;
    height: 48px;
    margin-left: 5vw;
    margin-top: 1.6Vh;

    border: none;
    border-radius: 50px;

}
/*Header Fim*/
main{
    overflow-y: scroll;
}
.tabel{
    font-family: 'Poppins', sans-serif;
    width: 1380px;
    height: 90vh;
    margin-left: 20px;

}
.tabel_title ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabel_title li{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15.5px;
    color: #868E96;
}
.tabel_title_action{
    margin-right: 45px;
}

.tabel_list{
    display: flex;
    flex-direction: column;
}
.tabel_list_iten{
    margin-top: 20px;
    margin-bottom: 20pxpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E9ECEF;
    border-radius: 12px;
    height: 78px;
    background-color: #FFFFFF;
}
.tabel_list_iten_product{
    display: flex;
}
.tabel_list_iten_pic{

}
.tabel_list_iten_pic img{
    margin-left: 6px;
    height: 58px;
    border-radius: 50%;
}
.tabel_list_iten_name{
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    color: #212529;
    padding-left: 15px;
}
.tabel_list_iten_category{
    background-color: #F8F9FA;
    border-radius: 8px;
    color: #868E96;
    font-weight: 400;
    font-size: 15.5px;
    height: 21px;
    text-align: center;
}
.tabel_list_iten_category p{
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.tabel_list_iten_description{
    white-space: nowrap;
    overflow-y: hidden;
    width: 440px;
    font-weight: 400;
    font-size: 15.5px;
    color: #868E96;
}
.tabel_list_iten_description::-webkit-scrollbar {
    border: 1px solid #FFFFFF;
    height: 2px;

  }
  
  .tabel_list_iten_description::-webkit-scrollbar-thumb {
    background: #FF2253;   
    border: none;
    border-radius: 15px;
    
  }
  

.tabel_list_iten_action{
    margin-right: 31.5px;
}
.tabel_list_iten_action button{
    border: none;
    background-color: transparent;
}

.action_edit::after{
        content: "\f044";
        font-family: 'Font Awesome 5 Free';
        line-height: 14px;
        font: normal normal normal 25px/1 FontAwesome !important;
        color: #757677;
        cursor: pointer;

}

.action_delet::after{
    content: "\f2ed";
    font-family: 'Font Awesome 5 Free';
    line-height: 14px;
    font: normal normal normal 22.5px/1 FontAwesome !important;
    color: #757677;
    cursor: pointer;
}
/*Modal de logout*/
.pop-up_logout{
    animation: pop-up_logout 0.5s;
    position: absolute;
    z-index: 2;
    top: 11%;
    right: 2%;
    display: none;
}
@keyframes pop-up_logout {
    0%{
        opacity: 0;
        transform:  translateX(100px) translateY(-150px) scale(0.01);
        
    }
    100%{
        opacity: 1;
    }
}

.pop-up_logout_conteiner{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    background-color: #E9ECEF;
    width: 17vw;
    height: 36vh;
    border-radius: 15px;
    
}
.pop-up_logout_conteiner button{
    width: 50%;
    height: 17%;
    border: none;
    background-color: #FF2253;
    color: #E9ECEF;
    font-size: 20px;
    border-radius: 50px;
    font-weight: bold;

}
.pop-up_logout_user{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;

}

.d-none {
  display: none;
}

@media (min-width: 575px){
    .title--top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #todos{
        height: 60px;
    }
    main{
        display: flex;
        justify-content: center;
        overflow: unset!important;
    }
    .tabel{
        width: 90%;
        overflow: unset!important;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .btnAddNew{
        width: 217px !important;
        height: 48px !important ;
        font-size: 15px;
        
    }
}


