.title--top{
    margin-top:  21px ;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title--logo--black, .nav--top{
    margin-left: 18px;
}
.title--logo{
    font-family: 'Poppins', sans-serif;
}
.title--logo--black{
    color: #212529;
    font-weight: 700;
    font-size: 21.6949px;
    line-height: 33px;
}
.title--logo--red{
    font-weight: 700;
    font-size: 16.2712px;
    line-height: 24px;
    color: #FF2253;
}
.title--search{
    width: 342px;
    padding: 15px 18px 15px 16px;
    border: 1.5px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;
    background: #E9ECEF;
    align-self: center;
    margin: 36px 15px 35px 18px;
}
.title--search:focus{
    background-color: #F8F9FA;
    border-color: #212529;;
}

.nav--top {
  display: flex;
  overflow-x: scroll;
}

.nav--top::-webkit-scrollbar {
  border: 1px solid #FFFFFF;
  height: 3px;
}

.nav--top::-webkit-scrollbar-thumb {
  background: #FF2253;   
  border: none;
  border-radius: 15px;
}

.nav--button{
    background: #FFF7F4;
    font-family: 'Inter', sans-serif;
    padding: 15px 20px;
    border: 1.5px solid #FFF7F4;
    box-sizing: border-box;
    border-radius: 30px;
    color: #212529;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-right: 22px;
}
.nav--top:last-child{
    margin-right: 15px;
}
.nav--button:hover{
    background: #FF2253;
    border-color: #FF2253;
    color: #F8F9FA;
}

@media (min-width: 1024px){
    .title--top{
        flex-direction: row;
        height: 72px;
        align-items: center;
        width: 100%;
    }
    .title--logo--black, .nav--top{
        margin-left: 117px;
    }
    .title--search{
        margin: 0px 117px 0px auto;
    }

    .nav--top::-webkit-scrollbar {
      display: none;
    }  
}