/*==================================== NAV ==============================*/


.title--top{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);
}

.title--logo--black {
    margin-left: 18px;
}

.title--logo{
    font-family: 'Poppins', sans-serif;
}

.title--logo--black{
    color: #212529;
    font-weight: 700;
    font-size: 21.6949px;
    line-height: 33px;
}

.title--logo--red{
    font-weight: 700;
    font-size: 16.2712px;
    line-height: 24px;
    color: #FF2253;
}

.title--search{
    width: 100%;
    max-width: 300px;
    padding: 15px ;
    border: 1.5px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;
    background: #E9ECEF;
    align-self: center;
}

.title--search:focus{
    background-color: #F8F9FA;
    border-color: #212529;;
}
nav{
    margin: 25px 10px 25px 0px;
}

.nav--top {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 30px auto;
}

.nav--top::-webkit-scrollbar {
  border: 1px solid #FFFFFF;
  height: 3px;
}

.nav--top::-webkit-scrollbar-thumb {
  background: #FF2253;   
  border: none;
  border-radius: 15px;
}

.nav--button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    background: #F3EEF5;
    padding: 15px 20px;
    margin-right: 22px;
    border: 1.5px solid #F3EEF5;
    border-radius: 32px;
    box-sizing: border-box;
    color: #212529;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.nav--button.panificadora {
  background-color: #FFF7F4;
  border: 1.5px solid #FFF7F4;
}

.nav--button.frutas {
  background-color: #FFF1F4;
  border: 1.5px solid #FFF1F4;
}

.nav--button.bebidas {
  background-color: #F3EEF5;
  border: 1.5px solid #F3EEF5;
}

.nav--top:last-child{
    margin-right: 15px;
}

.nav--button:hover{
    background: #FF2253;
    border-color: #FF2253;
    color: #F8F9FA;
    cursor: pointer;
}

.nav--button img {
  margin-right: 7px;
}

/* ============================= FIM NAV ==================================*/

/*============================= CARD SECTION ==============================*/
.card{
  font-family: 'Poppins', sans-serif;
  width: 303px;
  height: 397px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_pic img {
  width: 100%;
  max-height: 300px;
  min-height: 100%;
}

.card_description{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}

.card_description h2{
  font-weight: 500;
  font-size: 16px;
}

.card_description p{
  font-weight: 400;
  font-size: 14px;
  color: #868E96;
  width: 300px;
  height: 30px;
  overflow: hidden;
}

.card_description_category{
  font-weight: 400;
  font-size: 12px;
  color: #868E96;
  
}

.card_description_footer{
  display: flex;
  justify-content: space-between;
}

.card_description_footer button{
  width: 100px;
  height: 38px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
  background-color: #0CA678;
  color: #E4F7EF;
}

.card_description_footer button:after{
  content: "\f217";
  font-family: 'Font Awesome 5 Free';
  font-size: 12px;
  line-height: 14px;
  font: normal normal normal 14px/1 FontAwesome !important;
}



.card_description_footer h4{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.card_pic svg{
  height: 200px;
  width: 300px;
}

/* ============================== FIM CARD SECTION ============================

/* ASIDE */
aside{
    animation: modal_bg 0.5s;
    position: fixed;
    z-index: 2;
    background-color: #00000088;
    width: 100%;
    height: 100%;
    top: 0%;
    transition: 350ms;
    display: none;

}
.conteiner_aside{
    animation: pop-up-modal 0.5s;
    font-family: 'Poppins', sans-serif;
    width:100%;
    height: 100%;
    margin-right: 115px;
    position: fixed;
    z-index: 2;
    top: 10%;
    
}
@keyframes pop-up-modal {
    0%{
        top: 100%;
    }
    100%{
        top: 10%;
    }
    
}


.title--cart{
    display: flex;
    align-items: center;
    background-color: #FF2253;
    height: 56px;
    border-radius: 8px 8px 0 0;
    color: white; 
    justify-content: space-between;
}
.title--cart--container{
    display: flex;

}
.close-modal{
    margin-left: 0 !important;
    margin-right: 30px;
    content: f00d;
    font: normal normal normal 14px/1 FontAwesome !important;
}

.title--cart img{
    margin-left: 23px;
}

.title--cart p{
    margin-left: 20px;
}

.container--empty{
    width: 319px;
    height: 296px;
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 12px 12px;
}

.container--empty img{
    margin-bottom: 35px; 
}

.container--empty p{
    color: #868E96;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}


.container{
    overflow-y: scroll;
    height: 320px;
    background-color: #E4F7EF;
}
.container::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.container::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
    
}
.container::-webkit-scrollbar-thumb {
    background: #868E96;
    border-radius: 5px;
}

.card--cart{
    display:flex;
    margin-left: 10px;
    margin-top: 23px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.card--infos{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card--infos p{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
}

.card--infos span{
    color: #868E96;
    font-size: 12px;
    font-weight: 400;
}

.card--infos .infos--price{
    color: #212529;
    font-size: 14px;
    font-weight: 400;
}

.card--remove{
    margin-left: 17px;
}

.card--remove button{
    width: 25px;
    height: 25px;       
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FA;
}

.container--total{
    width: 100%;
    height: 58px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    background-color: #F8F9FA;
    border: none;
}
.value_total{
    border-radius: 0px 0px 8px 8px;
}

.container--total p{
    margin-left: 18px; 
}

.container--total span{
    margin-right: 19px;
}

.hidden{
    display:none;
}

/* PRODUCT CONTEINER */

main{
    display: flex;
    flex-direction: column;
}

.products-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  min-height: 400px;
  padding: 0 20px;
  box-sizing: border-box;
  gap: 5px;
}

main #modalButton{
    width: 100%;
    height: 60px;
    border: none;
    background-color: #FF2253;
    color: #E4F7EF;
    font-weight: 700;
    font-size: 17.1px;
    display: block;
    position: fixed;
    bottom: 0;
}

.cart_Button::before{
    content: "\f217";
    font: normal normal normal 14px/1 FontAwesome !important;
}

.card--image img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 2px solid #E9ECEF;
}

.button_login{
    border: none;
    background-color: #FF2253;
    color: #E9ECEF;
    max-width: 100px;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.user{
  background-color: #FF2253;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  border: none;
 
}

.user::before{
  content: "\f2f5";
  font-family: 'Font Awesome 5 Free';
  line-height: 14px;
  font: normal normal normal 30px/1 FontAwesome !important;
  color: #FFFFFF;
}

.d-none {
  display: none;
}

.title-input-login{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
button{
    cursor: pointer;
}
@media (min-width: 769px){
    .title--top{
        justify-content: space-between;
        flex-direction: row;
        height: 72px;
        align-items: center;
        width: 100%;
        padding: 0 80px 0 150px;
    }
    .title--logo--black, .nav--top{
        margin-left: 117px;
        margin: 50px 10px 50px 0px;
    }

    .nav--top::-webkit-scrollbar {
      display: none;
    }  
    .cart_Button_callModel{
        display: none !important;
    }

    .products-container{
        display: flex;
        flex-wrap: wrap;
        overflow-x: revert; 
        column-gap: 0px;
        justify-content: center;
        margin-left: 0px;
        column-gap: 3px;
        width: 100%;
        
      
    }
    
    .title--top{
        flex-direction: row;
        height: 72px;
        align-items: center;
        width: 100%;
    }
  
    .nav--top::-webkit-scrollbar {
      display: none;
    }  
    .cart_Button_callModel{
        display: none !important;
    }
    .card_pic{
        width: 100%;
        max-width: 300px;
        height: 200px;
    }

    .card_pic img {
      width: 100%;
      max-height: 300px;
      min-height: 100%;
    }

    .card_pic img:hover{
        border: 3px solid #FF2253;
        border-radius: 8px;
    }
    
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 88px;
    }
    #modal{
        display: block !important;
        position: relative;
        background: none;
        width: 320px !important;
        margin-right: 1.5vw;
    }
    .close-modal{
        display: none !important;
    }
    .conteiner_aside{
        position: relative;
        width: 320px;
    }
    
    .card_description_footer button:hover{
        background-color: #0CA678;
        color: #E4F7EF;;
    }
    .card_description_footer button{
        width: 39px;
        height: 38px;
        border: none;
        background-color: #E9ECEF;
        color: #212529;
    }
    
    .card--remove img{
        cursor: pointer;
        width: 20px;

    }
    .card--remove img:hover{
        border: 5px solid #FF2253;
        border-radius: 50%;
        background-color: #FF2253;
    }
    .title-input-login{
        margin-right: 10px;
        column-gap: 1.5vw;
        
    }
}

